div#container
{
    text-align: center;
}

canvas#canvas
{
    width:  512px;
    height: 512px;
    image-rendering: pixelated;
}

div#buttons
{
    display: inline-block;
    margin:                 0.5em 0 0.5em 0;
    padding:                2px;
    background:             #f5f5f5;
    border:                 1px solid #cccccc;
}

div#buttons div
{
    float:            left;
    width:            92px;
    display:          inline-block;
    margin:           1px;
    padding:          4px;
    text-align:       center;
    color:            #ffffff;
    background-color: #777777;
    font-family:      sans-serif;
    font-size:        9pt;
    cursor:           hand;
}

div#buttons div:hover, div#buttons div:link
{
    background-color: #aaaaaa;
}

div#buttons div img
{
    width: 12px;
    height: 12px;
}

div#buttons div a
{
    text-decoration: none;
    color: #ffffff;
}

