{% extends ".templates/default.html" %}

{% set title="cheep cheep" %}

{% set ext_css=["/css/cheep.css"] %}

{% block content %}
<section id="header">
    <p>My email is broiledmeat LOBSTER BERSERKER gmail.com. I am a software engineer at Vicarious Visions in Albany,
       NY.</p>
    <p>I've made Max/Maya tools, tool frameworks, automated and distributed cinematics processors, browser based
       employee time tracking systems, and a bunch of other beautiful garbage that's been forgotten to the void.</p>
    <p>:|</p>
</section>

<section id="games">
    <header>
        Games
    </header>
    My name is in the credits on these wonderfully fantastic games you should have already blown all of your money on.
    <table>
        <tr>
            <td><a href="https://www.youtube.com/watch?v=QJZW2lcq6hA">Guitar Hero: iOS</a></td>
            <td>2010</td>
        </tr>
        <tr>
            <td><a href="https://www.youtube.com/watch?v=BWBEp9m-a7c">Skylanders: Cloud Patrol</a></td>
            <td>2012</td>
        </tr>
        <tr>
            <td><a href="https://www.youtube.com/watch?v=uBWFLvMvCew">Skylanders: Battlegrounds</a></td>
            <td>2012</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/Skylanders:_Swap_Force">Skylanders: Swap Force</a></td>
            <td>2013</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/Skylanders:_Trap_Team">Skylanders: Trap Team</a></td>
            <td>2014</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/Skylanders:_SuperChargers">Skylanders: SuperChargers</a></td>
            <td>2015</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/Skylanders:_Imaginators">Skylanders: Imaginators</a></td>
            <td>2016</td>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/Crash_Bandicoot_Remastered_Collection">Crash Bandicoot Remastered
                Collection</a></td>
            <td>2017</td>
        </tr>
        <tr>
            <td><a href="https://www.destinythegame.com">Destiny 2</a></td>
            <td>2017</td>
        </tr>
        <tr>
            <td><a href="https://www.crashbandicoot.com/crashteamracing">Crash Team Racing Nitro-Fueled</a></td>
            <td>2019</td>
        </tr>
    </table>
</section>

<section>
    <header>
        Crepes
    </header>
    Delicious crepes. This delightful recipe will thrill you or your family, but not both. (This will make a lot of
    crepes but you may store the cooked crepes or just the remaining mixture in the fridge, I am unsure of exactly how
    long they will keep as my 125lb frame conceals some sort of space-time vortex that allows me to eat anything
    forever.)
    <ul>
        <li>1.5 cups flour</li>
        <li>2 cups milk</li>
        <li>2 eggs</li>
        <li>1.5 tbsp vegetable oil</li>
        <li>1 tbsp sugar</li>
        <li>Some measure of salt probably to taste</li>
        <li>An amount of cookie dough of your choice (this is awesome)</li>
        <li>An amount of caramel (this is also awesome)</li>
    </ul>
    <ol>
        <li>Put a pan on the stove and preheat to medium or something around there.</li>
        <li>Eat a bit of the cookie dough. It is delicious.</li>
        <li>Throw every ingredient minus the eggs and cookie dough in a bowl.</li>
        <li>Crack open the eggs and put contents held inside on top of the other ingredients inside the bowl.</li>
        <li>Mix super well, failing to do so will leave gross flour clumps and it will be icky.</li>
        <li>Pour a layer of mixture on the pan. A very thin layer is desired and you may need to pick the pan up and
            kind of swirl everything abouts.</li>
        <li>Let it brown, and then flip. The first side will be quite a bit browner than the latter but uhhhg, it is
            good to procede to the next step after like 20 seconds</li>
        <li>Put some cookie dough on one half of the crepe, once you have done this, fold the other half of the crepe to
            form a crepe cookie clam.</li>
        <li>You can put some coldish caramel on the crepe now (just make sure it doesn't drip on the pan) or maybe wait
            till the crepe is off the pan, or maybe even have preheated the caramel. I am lazy and keep my caramel in
            the refrigerator and just let it melt on the crepe while it is on the pan.</li>
        <li>You have completed a fabulous crepe! Now eat it while simultaneously preparing its doomed successor.</li>
    </ol>
</section>

<section>
    <header>
        Last.fm
    </header>
    <a href="http://www.last.fm/user/broiledmeat"><img src="/img/lastfm_graph.svg"></a>
</section>
{% endblock %}
